@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  --color-primary-container: #131b2e;
  --color-secondary: #0058be;
  --color-on-primary-container: #7c839b;
  --color-on-error-container: #93000a;
  --color-on-background: #191c1e;
  --color-outline-variant: #c6c6cd;
  --color-background: #f7f9fb;
  --color-on-tertiary-fixed-variant: #2f2ebe;
  --color-on-secondary: #ffffff;
  --color-error: #ba1a1a;
  --color-primary-fixed: #dae2fd;
  --color-on-tertiary-fixed: #07006c;
  --color-on-error: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-inverse-on-surface: #eff1f3;
  --color-surface: #f7f9fb;
  --color-surface-container: #eceef0;
  --color-primary-fixed-dim: #bec6e0;
  --color-tertiary-container: #07006c;
  --color-surface-container-high: #e6e8ea;
  --color-on-secondary-container: #fefcff;
  --color-outline: #76777d;
  --color-inverse-primary: #bec6e0;
  --color-surface-tint: #565e74;
  --color-secondary-fixed: #d8e2ff;
  --color-on-surface: #191c1e;
  --color-error-container: #ffdad6;
  --color-on-secondary-fixed: #001a42;
  --color-tertiary-fixed: #e1e0ff;
  --color-on-primary-fixed: #131b2e;
  --color-surface-bright: #f7f9fb;
  --color-on-tertiary-container: #7073ff;
  --color-on-primary-fixed-variant: #3f465c;
  --color-surface-container-low: #f2f4f6;
  --color-on-secondary-fixed-variant: #004395;
  --color-inverse-surface: #2d3133;
  --color-tertiary: #000000;
  --color-surface-dim: #d8dadc;
  --color-on-surface-variant: #45464d;
  --color-primary: #000000;
  --color-surface-variant: #e0e3e5;
  --color-secondary-container: #2170e4;

  --spacing-margin-desktop: 40px;
  --spacing-margin-mobile: 16px;
  --spacing-gutter: 24px;
  --spacing-stack-md: 16px;
  --spacing-stack-lg: 32px;
  --spacing-stack-sm: 8px;
  --spacing-container-max: 1280px;

  --font-family-sans: 'Inter', sans-serif;

  --font-size-body-md: 16px;
  --line-height-body-md: 24px;
  --font-size-body-lg: 18px;
  --line-height-body-lg: 28px;
  --font-size-headline-lg-mobile: 28px;
  --line-height-headline-lg-mobile: 36px;
  --font-size-headline-xl: 48px;
  --line-height-headline-xl: 56px;
  --font-size-headline-md: 24px;
  --line-height-headline-md: 32px;
  --font-size-headline-lg: 32px;
  --line-height-headline-lg: 40px;
  --font-size-price-display: 20px;
  --line-height-price-display: 24px;
  --font-size-label-sm: 14px;
  --line-height-label-sm: 20px;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: max(884px, 100dvh);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
